<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
    <title>home</title>
</head>


<body>
</body>
    <div class=box>
        <div class=categories>
            <p class="cat">school</p>
            <p class="cat">work</p>
            <p class="cat">chill</p>
            <p class="cat">news</p>
            <p class="cat">reddit</p>
        </div>
        <div class=items>
            <p class="dog">
                <span style="color: var(--color1)">[</span><a href="a" target="_blank">a</a><span style="color: var(--color1)">]</span>
            </p>
            <p class="dog">
                <span style="color: var(--color3)">[</span><a href="b" target="_blank">b</a><span style="color: var(--color3)">]</span>
            </p>
            <p class="dog">
                <span style="color: var(--color6)">[</span><a href="c" target="_blank">c</a><span style="color: var(--color6)">]</span>
            </p>
        </div>
    </div>
</html>
